page-home {

	ion-title {
		transition: opacity 0.2s linear;
	}

	.hideTitle {
		opacity: 0;
	}

	shrinking-header {

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			border-radius: 50%;
			margin: 20px;
		}

	}

}
